:root {
    --primary-color: #1f2937;
    --secondary-color: #f9faf8;
    --bg-color: #e5e7eb;
}

* {
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid pink; */
}

.darkerText {
    color: var(--primary-color);
}

.lighterText {
    color: var(--secondary-color);
}

.greyText {
    color: var(--bg-color);
}
header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

header, .hero, footer {
    background: var(--primary-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h3 {
    font-size: 24px;
    padding-left: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

nav a .heroText{
    font-size: 14px;
}

nav a {
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    padding-right: 24px;
}

nav a:hover {
    opacity: 0.7;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px; /* Adjust padding as needed */
    background-color: var(--primary-color);
}

.heroText {
    flex: 1;
    margin-right: 20px; /* Space between text and image */
}

.heroImg {
    flex-basis: 30%; /* Adjust size as needed */
    border: none; /* Remove border if not needed */
}

button {
    display: flex;
    box-sizing: border-box; 
    border-radius: 0.3em;
    border-color: #e5e7eb;
    color: #e5e7eb;
    background-color: #3882f6;
    text-align: center;
    padding: 4px 24px;
    border: 0;
    cursor: pointer;
    flex-grow: 0;
}

button:hover {
    opacity: 0.7;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--secondary-color); /* Change if different background is needed */
}

.content h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #1f2937;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


.box {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Adjust width as needed */
    height: 50%;
    width: 30%; /* Adjust width as needed */
    padding: 20px;
    margin: 10px;
    border: 3px solid #3882f6; /* Style borders as needed */
    border-radius: 0.5em;
    text-align: center;
}

.boxtext {
    margin-top: 10px; /* Space between the box content and the subtext */
    color: var(--primary-color); /* Optional: color adjustment */
    font-size: 14px; /* Optional: font size adjustment */
}

.quote {
    padding: 40px;
    background-color: var(--bg-color); /* Adjust background color as needed */
    text-align: center;
    font-style: italic;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #3882f6; /* Bright blue for visibility */
    color: var(--secondary-color); /* Use the secondary color for text */
    margin: 40px 0; /* Add some margin for spacing */
}

.cta button {
    display: flex;
    padding: 4px 24px;
    margin-left: 50px;
    background-color: #3882f6;
    color: var(--secondary-color);
    border: 1px solid white; /* Thin white border added */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta button:hover {
    opacity: 0.7;
}

footer {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

footer button {
    margin: 0 10px;
}
