:root {
    --primary-color: #1f2937;
    --secondary-color: #f9faf8;
    --bg-color: #e5e7eb;
}

* {
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid pink; */
}

.darkerText {
    color: var(--primary-color);
}

.lighterText {
    color: var(--secondary-color);
}

.greyText {
    color: var(--bg-color);
}
header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

header, .hero, footer {
    background: var(--primary-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h3 {
    font-size: 24px;
    padding-left: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

nav a .heroText{
    font-size: 14px;
}

nav a {
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    padding-right: 24px;
}

nav a:hover {
    opacity: 0.7;
}

.hero {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-grow: 0;
}

.heroImg {
    border: 1px solid pink;
    aspect-ratio: 16/9;
    max-width: 30%;
}

.heroText {
    display: flex;
}

button {
    display: flex;
    box-sizing: border-box; 
    border-radius: 0.3em;
    border-color: #e5e7eb;
    color: #e5e7eb;
    background-color: #3882f6;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0;
    cursor: pointer;
    flex-grow: 0;
}

button:hover {
    opacity: 0.7;
}